body{
    background-color: rgb(71, 71, 71);
    background-size: cover;
}

.button{
    position: relative;
    width: 9%;
    height: 35px;
    margin: 1px;
    margin-top: 2px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border: none;
    user-select: none;
}

.button:focus{
    outline-style: none;
    background-color: rgb(255, 140, 32);
    transition-duration: 1s;
}

#history{
    color: rgb(71, 71, 71);
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    background-color: rgba(217, 219, 219, 0.767);
    width: 38%;
    height: 191px;
    float: right;
    border-radius: 15px;
    margin-left: 2px;
    overflow:auto;
    text-align: center;
    user-select: none;
    line-height: 90%;
}

.equals{
    background-color: rgb(2, 103, 255);
}

.digit {
    background-color: rgb(211, 211, 211);
}

.decimal{
    background-color: rgb(211, 211, 211);
}

#button-container {
    padding: 10px;
    position: absolute;
    left: 25%;
    background-color: rgba(233, 233, 233, 0.438);
    width: 640px;
    border-radius: 25px;
    margin: auto;
}

#display{
    word-wrap: break-word;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 350%;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    width: 56%;
    height: 70px;
    background-color:rgba(99, 99, 99, 0.911);
    margin-bottom: 2px;
}

#notes:focus{
    outline-style: none;
}

#notes{
    color: rgb(71, 71, 71);
    font-style: italic;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: pre;
    font-size: 100%;
    width: 620px;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 20px;
    margin-top: 2px;
    border: none;
    text-align: left;
    overflow: auto;
    
}

